<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
        view Todos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item-sliding *ngFor="let data of dataFromServer">
        <ion-item line="inset" button [routerLink]="['/edit-item', data.id]">
          <ion-label>
            {{data.title}}
          </ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="onRemove(item)" color="secondary">
            <ion-icon name="checkmark" slot="end"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button routerLink="/create-item" routerDirection="forward">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
