<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
          edit Item
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item *ngIf="dataFromServer">
      <ion-input required type="text" placeholder="titulo" [(ngModel)]="dataFromServer.title">
      </ion-input>
    </ion-item>
    <ion-item *ngIf="dataFromServer">
      <ion-input required type="number" placeholder="id" [(ngModel)]="dataFromServer.userId">
      </ion-input>
    </ion-item>
    </ion-list>
    <ion-button expand="full" (click)="saveData()">
      Actualizar Informacion
    </ion-button>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" color="danger">
      <ion-fab-button color="danger" routerLink="/create-item" routerDirection="forward" (click)="removeData()">
        <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
