<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
          create Item
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item>
      <ion-input required type="text" placeholder="titulo" [(ngModel)]="userData.title">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input required type="number" placeholder="id" [(ngModel)]="userData.userId">
      </ion-input>
    </ion-item>
    </ion-list>
    <ion-button expand="full" (click)="saveData()">
      crear
    </ion-button>
</ion-content>
