<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar *ngIf="jsonDataFromUrl" [(ngModel)]="searchTerm" (ionClear)="setFilteredItems(true)" (ionInput)="setFilteredItems()"></ion-searchbar>
  <ng-container *ngFor="let data of jsonDataFromUrl">
    <ng-container *ngIf="data.completed">
      <ion-card>
          <ion-card-header>
            <p><strong>identificacion: </strong> {{data.id}}</p>
          </ion-card-header>
          <ion-card-content>
            <p>{{data.title}}</p>
          </ion-card-content>
      </ion-card>
    </ng-container>
  </ng-container>
</ion-content>
